@model Garage_2.Models.ParkedVehicle

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-black-50">Edit</h1>

<h4 class="text-black-50">ParkedVehicle</h4>
<hr />
<div class="row text-black-50">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

          
            <div class="form-group">
                <label asp-for="VehicleType.VehicType" class="control-label"></label>
                <input asp-for="VehicleType.VehicType" class="form-control" />
                <span asp-validation-for="VehicleType.VehicType" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="RegisterNumber" class="control-label"></label>
                <input asp-for="RegisterNumber" class="form-control" />
                <span asp-validation-for="RegisterNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WheelsNumber" class="control-label"></label>
                <input asp-for="WheelsNumber" class="form-control" />
                <span asp-validation-for="WheelsNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ParkedDateTime" />
            <div class="form-group">
                <label asp-for="ParkedDateTime" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.ParkedDateTime)</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="btn-edit-vehicle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
