@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center text-black-50">
    <br /><br /><br /><br /><br /><br /><br /><br />

    <h1 class="display-4 ">Welcome to Garage 3</h1>
    <p>Open today </p>
    <p>8:00 - 22:00</p>

    <br /><br /><br /><br /><br /><br /><br /><br />
</div>
