@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <br /><br /><br /><br /><br /><br /><br /><br />

    <h1 class="display-4">Welcom to Garage 2</h1>
    <p>Open today </p>
    <p>8:00 - 22:00</p>

    <br /><br /><br /><br /><br /><br /><br /><br />
</div>
