<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage 2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="head_color">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 head_color">
            <div class="head_color">
                <a class="navbar-brand" asp-area="" asp-controller="ParkedVehicles" asp-action="Index">Garage 2</a>
                <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon head_color"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="alert-user" class="alert alert-primary" role="alert"></div>
            @RenderBody()
        </main>


    <footer class="border-top footer text-muted text-center">
        <div >
            &copy; 2020 - Garage_2  <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    </div>



    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">

     Launch demo modal
     </button>-->
    <!-- Modal -->
    <div class="modal fade" id="popup-confirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vehicle is fetched!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want receipt?
                </div>
                <div class="modal-footer">
                    <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">No</></a>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)







</body>
</html>
